# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
.env/
.venv/
*.env

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Logs & Debugging files
*.log
logs/

# Build & Distribution
build/
dist/
*.spec

# Executable files
*.exe
*.dll
*.so
*.dylib

# Package & Dependencies
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Sound & Asset Cache
assets/__pycache__/

# Misc
.DS_Store
Thumbs.db
